/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css' */
body{
    background-color: #E3DFFD;
}

h1{
    color: burlywood;
}

.even {
    background-color: #E5D1FA;
}

.odd {
    background-color: #ECF2FF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
