<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header> -->

<!-- {{ rooms$ | async | json}} -->
<router-outlet></router-outlet>

<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'pink':'purple'}"
    [innerText]="numberOfRooms"></div>
</div>

    {{ rooms?.availableRooms ?? 'No rooms'}}

<div *ngIf="selectedRoom">
    {{ selectedRoom | json}}
</div>

<div>
    <!-- <button (click)="addRoom()">Add Room</button> -->
    <button routerLink="add">Add Room</button>
</div>

<h1>
    {{ getErrors$ | async}}
</h1>

<h1>No of rooms : {{ roomsCount$ | async}}</h1>

<div *ngIf = "rooms$ | async as rooms">
    <hinv-rooms-list [rooms]="rooms" (selectedRoom)="selectRoom($event)" [title]="title" [numOfGuests]="numberOfGuests"></hinv-rooms-list>
</div> 

<button (click)="toggle()">Toggle</button>

<button (click)="editRoom()">Update Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h1>
    {{totalBytes}}
</h1>
<!-- <hinv-rooms-list #child></hinv-rooms-list>
<button (click)="childMethod()">Child Method</button> -->

