<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>

<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'pink':'purple'}"
    [innerText]="numberOfRooms"></div>
</div>

    {{ rooms?.availableRooms ?? 'No rooms'}}

<div *ngIf="selectedRoom">
    {{ selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf = "hideRooms">
    <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title" [numOfGuests]="numberOfGuests"></hinv-rooms-list>
</div> 

<button (click)="toggle()">Toggle</button>

<!-- <hinv-rooms-list #child></hinv-rooms-list>
<button (click)="childMethod()">Child Method</button> -->

